HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/frontend/online_office/.DS_Store
/frontend/online_office/node_modules
/frontend/online_office//dist


# local env files
/frontend/online_office/.env.local
/frontend/online_office/.env.*.local

# Log files
/frontend/online_office/npm-debug.log*
/frontend/online_office/yarn-debug.log*
/frontend/online_office/yarn-error.log*
/frontend/online_office/pnpm-debug.log*

# Editor directories and files
/frontend/online_office/.idea
/frontend/online_office/.vscode
/frontend/online_office/*.suo
/frontend/online_office/*.ntvs*
/frontend/online_office/*.njsproj
/frontend/online_office/*.sln
/frontend/online_office/*.sw?
